*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#222;
}

.hero{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:50px;
}

.hero p{
    margin-top:10px;
    font-size:20px;
}

.section{
    width:80%;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.section h2{
    margin-bottom:20px;
    color:#1e3a8a;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:10px;
}

.card{
    background:#eef2ff;
    padding:20px;
    border-radius:10px;
}